html, body {
    margin: 0;
    padding: 0;
}
.login {
    background: url("./login.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    border-radius: 10px;
    height: 500px;
    width: 400px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.avatar {
    height: 150px;
    width: 150px;
    position: relative;
    top: -70;
}
.login-form {
    display: flex;
    width: 90%;
    flex-direction: column;
}
.login-text {
    margin-top: -50;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
}
.login-form p {
    color: white;
    font-size: 1.4rem;
}
.login-form input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 1rem;
    color: white;
}
.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 90%;
    height: 50px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
}
.login-button:hover {
    background-color: #efefef;
}